[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the FieldGroups Bugzilla Extension.
  #
  # The Initial Developer of the Original Code is Ali Ustek
  # Portions created by the Initial Developer are Copyright (C) 2011 the
  # Initial Developer. All Rights Reserved.
  #
  # Contributor(s): Ali Ustek <aliustek@gmail.com>
  #%]

[%# This is a list of messages to extend messages. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #
  # Note: be aware of uniqueness of error string parameter value, since
  # nobody can guarantee the hook files processing order in the future.
  #%]

[% IF message_tag == "field_group_created" %]
  [% title = "New Field Group Created" %]
  The group <em>[% group.name FILTER html %]</em> has been added as a 
  valid choice group for the <em>[% field.description FILTER html %]</em>
  (<em>[% field.name FILTER html %]</em>) field.

[% ELSIF message_tag == "field_group_deleted" %]
  [% title = "Field Group Deleted" %]
  The group <em>[% group.name FILTER html %]</em> of the
  <em>[% field.description FILTER html %]</em>
  (<em>[% field.name FILTER html %]</em>) field has been deleted.

[% ELSIF message_tag == "field_group_updated" %]
  [% title = "Field Group Updated" %]
  [% IF changes.keys.size %]
    The <em>[% group_old FILTER html %]</em> group of the
    <em>[% field.description FILTER html %]</em>
    (<em>[% field.name FILTER html %]</em>) field has been changed:
    <ul>
      [% IF changes.name %]
        <li>Field group updated to 
          <em>[% changes.name.1 FILTER html %]</em>.
        </li>
      [% END %]
      [% IF changes.sortkey %]
        <li>Sortkey updated to 
          <em>[% changes.sortkey.1 FILTER html %]</em>.
        </li>
      [% END %]
    </ul>
  [% ELSE %]
    No changes made to the field group <em>[% group_old FILTER html %]</em>.
  [% END %]
[% END %]
